include *.txt
include LICENSE
recursive-include sphinx_resibots_theme *.conf
recursive-include sphinx_resibots_theme *.css
recursive-include sphinx_resibots_theme *.eot
recursive-include sphinx_resibots_theme *.html
recursive-include sphinx_resibots_theme *.js
recursive-include sphinx_resibots_theme *.svg
recursive-include sphinx_resibots_theme *.ttf
recursive-include sphinx_resibots_theme *.woff
